<div class="collection-container" *ngIf="!isLoading" #origin>
  <div class="header">
    <div class="title-and-count">
      <p class="collection-name">{{ data.title ? data.title : "Unset" | truncate:[truncateAmount] }}</p>
      <div class="no-of-resources">
        <small>{{ data.count }} {{ data.count >= 0 ? 'resource' : 'resources'}}</small>
      </div>
    </div>
    <button mat-icon-button (click)="show(origin)">
      <fa-icon [icon]="faEllipsesV"></fa-icon>
    </button>
  </div>
  <div class="collection" (click)="goToCollection()">
    <div class="main" [ngStyle]="{'background-image': 'url('+ image1 +')'}"></div>
    <div class="block" [ngStyle]="{'background-image': 'url('+ image2 +')'}"></div>
      <div class="block" [ngStyle]="{'background-image': 'url('+ image3 +')'}"></div>
      <div class="block" [ngStyle]="{'background-image': 'url('+ image4 +')'}"></div>
    <!-- <div class="subs">
      
    </div> -->
  </div>
</div>

<app-loading type="collection" *ngIf="isLoading"></app-loading>
