<mat-progress-bar mode="query" *ngIf="isLoadingOG"></mat-progress-bar>
<form [formGroup]="shareResourceForm">
  <div class="section-container">
    <div class="section">
      <div class="section-header">
        <h4>What do you want to share?</h4>
      </div>

      <div class="section-content">
        <div class="custom-input">
          <div class="label-container">
            <label>Link</label>
          </div>
          <div class="input-container">
            <input type="text" formControlName="url" placeholder="Paste your link here" />
          </div>
          <p class="error-message" *ngIf="shareResourceFormControls.url.hasError('urlInvalid') &&
            shareResourceFormControls.url.dirty">
            Invalid link
          </p>
        </div>

        <div class="custom-image" (click)="imageInput.click()" matRipple
          *ngIf="shareResourceForm.controls.isCustomImage.value" [style.background-image]="
            'url(' + shareResourceForm.controls.customImage.value + ')'
          ">
          <div class="icon-text" *ngIf="!shareResourceForm.controls.customImage.value">
            <div class="icon-container">
              <fa-icon [icon]="faUpload"></fa-icon>
            </div>
            <p>
              Click here to upload a
              custom image
            </p>
          </div>
          <input hidden (change)="onFileSelected(imageInput.files[0])" #imageInput type="file" accept="image/*" />
        </div>

        <div class="resource-image" *ngIf="
            !shareResourceForm.controls.isCustomImage.value &&
            !shareResourceForm.controls.noImage.value
          " [ngStyle]="{ 'background-image': 'url(' + ogImage + ')' }">

          <div class="custom-image" *ngIf="!ogImage">
            <div class="icon-text">
              <div class="icon-container">
                <fa-icon [icon]="faImage" class="globe"></fa-icon>
              </div>

              <p>
                If your link has an image, it'll appear here
              </p>
            </div>
          </div>
        </div>

        <app-resource-no-image *ngIf="
            !shareResourceForm.controls.isCustomImage.value &&
            shareResourceForm.controls.noImage.value
          " [data]="{ title: shareResourceForm.controls.title.value }"></app-resource-no-image>

        <div class="mat-checkbox-container">
          <mat-checkbox formControlName="isCustomImage">Custom Image</mat-checkbox>
          <mat-checkbox formControlName="noImage">No Image</mat-checkbox>
        </div>

        <div class="custom-input">
          <div class="label-container">
            <label>Title</label>
          </div>
          <div class="input-container">
            <input type="text" formControlName="title" placeholder="Give it a title" maxlength="250" />
          </div>
          <p class="error-message" *ngIf="shareResourceFormControls.title.hasError('required') &&
          shareResourceFormControls.title.dirty">
            Title required
          </p>
          <p class="error-message" *ngIf="shareResourceFormControls.title.hasError('maxLength') &&
          shareResourceFormControls.title.dirty">
            Title cannot be longer than 250 characters
          </p>
        </div>

        <div class="custom-input">
          <div class="label-container">
            <label>Description</label>
          </div>
          <div class="input-container">
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
              type="text" formControlName="description" placeholder="Say something about it"></textarea>
          </div>
          <p class="error-message" *ngIf="shareResourceFormControls.description.hasError('required') &&
          shareResourceFormControls.description.dirty">
            Description required
          </p>
        </div>

        <div class="custom-input mb-50">
          <div class="label-container">
            <label>Tags</label>
          </div>
          <div class="input-container">
            <mat-chip-list #chipList aria-label="Tags">
              <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                (removed)="removeTag(tag)">
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add tags that best fit" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)" />
            </mat-chip-list>
          </div>
        </div>

        <app-add-to-collection (message)="receiveAtcData($event)"></app-add-to-collection>

        <div class="form-button-container clearfix">
          <app-custom-button (click)="submitShareResourceForm()" [buttonLabel]="submitButtonText"
            [isDisabled]="isDisabled" [isLoading]="isLoading" size="small"></app-custom-button>
        </div>
      </div>
    </div>
  </div>
</form>