<div class="section-container">
  <mat-tab-group mat-align-tabs="center">
    <!-- * Resources -->
    <mat-tab label="Resources">
      <div class="section">
        <div class="section-header">
          <h4>Manage Resources</h4>
        </div>

        <div class="section-content">
          <form [formGroup]="searchForm">
            <mat-form-field appearance="outline">
              <mat-label>Search</mat-label>
              <mat-icon matPrefix>
                <fa-icon [icon]="faSearch"></fa-icon>
              </mat-icon>
              <input matInput placeholder="Search for your resources" formControlName="query">
            </mat-form-field>
          </form>

          <div class="list-of-resources">
            <div class="resource" *ngFor="let post of posts">
              <img class="image" [src]="post.image">
              <div class="details">
                <h4>{{ post.title }}</h4>
                <p>{{ post.description | truncate:[40] }}</p>
                <div class="actions">
                  <button mat-button>
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>

                  <button mat-button>
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </button>

                  <button mat-button color="warn">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="stats"></div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- * Collections -->
    <mat-tab label="Collections">
      <div class="section">
        <div class="section-header">
          <h4>Collections</h4>
        </div>
      </div>
    </mat-tab>

    <!-- * Documents -->
    <mat-tab label="Documents">
      <div class="section">
        <div class="section-header">
          <h4>Documents</h4>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
