<div class="section-container">
  <mat-tab-group mat-align-tabs="center">
    <!-- * Resources -->
    <mat-tab label="Resources">
      <div class="section">
        <div class="section-header">
          <h4>Resources</h4>
        </div>
      </div>
    </mat-tab>

    <!-- * Collections -->
    <mat-tab label="Collections">
      <div class="section">
        <div class="section-header">
          <h4>Collections</h4>
        </div>
      </div>
    </mat-tab>

    <!-- * Documents -->
    <mat-tab label="Documents">
      <div class="section">
        <div class="section-header">
          <h4>Documents</h4>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
