<div class="section-container">
  <mat-tab-group mat-align-tabs="center">
    <!-- * Resources -->
    <mat-tab label="Resources">
      <div class="section">
        <div class="section-header">
          <h4>Manage Resources</h4>
        </div>

        <div class="section-content">
          <form [formGroup]="searchForm">
            <mat-form-field appearance="outline">
              <mat-label>Search</mat-label>
              <mat-icon matPrefix>
                <fa-icon [icon]="faSearch"></fa-icon>
              </mat-icon>
              <input matInput placeholder="Search for your resources" formControlName="query">
            </mat-form-field>
          </form>

          <app-resource *ngFor="let resource of resources" [data]="resource"></app-resource>
        </div>
      </div>
    </mat-tab>

    <!-- * Collections -->
    <mat-tab label="Collections">
      <div class="section">
        <div class="section-header">
          <h4>Collections</h4>
        </div>
      </div>
    </mat-tab>

    <!-- * Documents -->
    <mat-tab label="Documents">
      <div class="section">
        <div class="section-header">
          <h4>Documents</h4>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
