<h1 mat-dialog-title>Add to Collection</h1>
<div class="dialog-image">
  <img [src]="data.image" alt="Image">
</div>
<p class="dialog-title">
  <strong>{{ data.title }}</strong>
</p>
<form [formGroup]="addToCollectionForm">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Collections</mat-label>
      <input type="text" placeholder="Select or Create New" matInput [matAutocomplete]="auto"
        formControlName="collectionName">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-optgroup label="Move to Existing Collections">
          <mat-option *ngFor="let name of collectionNames" [value]="name">
            {{name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="submitAddToCollectionForm()" cdkFocusInitial>Ok</button>
  </div>
</form>
