<div class="resource" *ngIf="!isLoading" #origin>
  <div class="header">
    <span>{{ title | truncate: [30] }}</span>
    <button mat-icon-button (click)="show(origin)">
      <fa-icon [icon]="faEllipsesV"></fa-icon>
    </button>
  </div>
  <img *ngIf="image" class="image" [src]="image" (click)="goToView()" />
  <div
    *ngIf="noImage"
    class="no-image-text"
    [style.background]="backgroundColor"
  >
    <div class="text-container" [style.color]="textColor" (click)="goToView()">
      <p>{{ title | truncate: [40] }}</p>
    </div>
  </div>
  <div class="details">
    <p  *ngIf="type === 'ext-content'">{{ description | truncate: [125] }}</p>
  </div>
  <div class="stats">
    <div class="like" [ngClass]="recommended_by_count > 0 ? 'is-liked' : ''">
      <fa-icon [icon]="faThumbsUp"></fa-icon>
      <span class="count">{{ recommended_by_count }}</span>
    </div>

    <div class="like" [ngClass]="commentCount > 0 ? 'is-liked' : ''">
      <fa-icon [icon]="faComment"></fa-icon>
      <span class="count">{{ commentCount }}</span>
    </div>
  </div>
</div>

<app-loading type="resource" *ngIf="isLoading"></app-loading>
