/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/material-overrides.scss";
@import "./assets/styles/general.scss";
@import "./assets/styles/no-auth-layout.scss";
@import "./assets/styles/section-container.scss";

.box-shadow {
  -webkit-box-shadow: 0px 10px 26px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 26px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 26px -6px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.active-sidenav {
  font-weight: bold;
}

.mat-drawer-content {
  background-color: #DEE8FF;
}

mat-nav-list {
  min-width: 200px;

  a {
    display: block;
    padding: 15px 0;
  }
}

.float-right {
  margin-left: auto;
  display: inline-block;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.green-snackbar {
  background-color: #09af00;
  color: white;
}

.red-snackbar {
  background-color: #f44336;
  color: white;
}

// Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.padding-15 {
  padding: 15px;
}

.w-100 {
  width: 100%;
}

.resource-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  grid-auto-flow: dense;
  grid-column-gap: 5px;
}
