/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
	font-family: "Roboto", sans-serif;
}

.box-shadow {
	-webkit-box-shadow: 0px 10px 26px -6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 10px 26px -6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 26px -6px rgba(0, 0, 0, 0.2);
}

.active {
	background-color: rgba(0, 0, 0, 0.1);
	font-weight: bold;
}

.active-sidenav {
	font-weight: bold;
}

mat-nav-list {
	min-width: 200px;

	a {
		display: block;
		padding: 15px 0;
	}
}

.float-right {
	margin-left: auto;
	display: inline-block;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.green-snackbar {
	background-color: #09af00;
	color: white;
}

.red-snackbar {
	background-color: #F44336;
	color: white;
}
