@font-face {
    font-family: 'Bree Serif';
    src: url('../../fonts/Regular/BreeSerif-Regular.woff2') format('woff2'),
        url('../../fonts/Regular/BreeSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/Bold/NunitoSans-Bold.woff2') format('woff2'),
        url('../../fonts/Bold/NunitoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/Regular/NunitoSans-Regular.woff2') format('woff2'),
        url('../../fonts/Regular/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Light/Montserrat-Light.woff2') format('woff2'),
        url('../../fonts/Light/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Bold/Montserrat-Bold.woff2') format('woff2'),
        url('../../fonts/Bold/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Regular/Montserrat-Regular.woff2') format('woff2'),
        url('../../fonts/Regular/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}