.popover-header {
  border-bottom: 1px solid #dee8ff;
  padding: 15px;
  font-size: 14px;
  span {
    color: #a2a2a2;
  }
}

.popover-item {
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
  transition: background-color 75ms ease-in-out;

  &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .top {
    font-size: 14px;
    fa-icon {
      color: #481a89;
      margin-right: 10px;
    }

    span {
      color: #481a89;
    }
  }

  .bottom {
    small {
      color: #a2a2a2;
      font-size: 12px;
    }
  }
}
