<div class="section-container">
  <!-- * Search resources -->
  <div class="search">
    <form [formGroup]="resourceSearchForm">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>
          <fa-icon [icon]="faSearch"></fa-icon>
        </mat-icon>
        <input matInput placeholder="Search for your resources" formControlName="query">
      </mat-form-field>
    </form>
  </div>

  <div class="parent" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()" [scrollWindow]="false">
    <div class="resource-grid">
      <app-resource *ngFor="let resource of resources" [data]="resource" (drResponse)="drResponseHandler($event)"
        [isInCollectionPage]="isInCollectionPage">
      </app-resource>
      <app-loading type="resource" *ngIf="isLoading"></app-loading>
    </div>
  </div>

  <div class="see-more" (click)="loadMorePosts()">
    See More
  </div>

  <div *ngIf="resources && resources.length === 0">
    You haven't shared any resources yet
  </div>
</div>