.parent {
  height: 100%;
  overflow: hidden;

  .resource-grid {
    height: auto;
    overflow-y: auto;
  }
}

.see-more {
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 15px;
}
