<div class="section-container">
  <!-- * Search resources -->
  <div class="search">
    <form [formGroup]="resourceSearchForm">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>
          <fa-icon [icon]="faSearch"></fa-icon>
        </mat-icon>
        <input matInput placeholder="Search for your resources" formControlName="query">
      </mat-form-field>
    </form>
  </div>

  <!-- * Resource grid -->
  <div class="resource-grid" *ngIf="!isLoading">
    <app-resource 
    *ngFor="let resource of resources" 
    [data]="resource" 
    (drResponse)="drResponseHandler($event)" 
    [isInCollectionPage]="isInCollectionPage">
    </app-resource>
  </div>

  <div class="resource-grid" *ngIf="isLoading">
    <app-loading type="resource"></app-loading>
  </div>

  <div *ngIf="resources && resources.length === 0">
    You haven't shared any resources yet
  </div>
</div>
