.search {
  mat-form-field {
    margin-top: 15px;
    width: 100%;
  }

  mat-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .8);

    fa-icon {
      position: absolute;
      top: 2px;
    }
  }
}

.parent {
  height: 100%;
  overflow: hidden;

  .resource-grid {
    height: auto;
    overflow-y: auto;
  }
}

.see-more {
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 15px;
}
