.user-interests-container {
    max-width: 500px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    .text-container {
        margin-bottom: 25px;
        h1 {
            font-family: "Montserrat", sans-serif;
        }
    }
}