.interests {
    padding: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .list-of-interests {

        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // grid-gap: 5px;
        p {
            display: inline-block;
            background-color: var(--your-list-of-interests-background-color);
            color: var(--profile-summary-list-of-interests-p);
            padding: 5px 15px;
            border-radius: 15px;
            text-align: center;
            margin-bottom: 0;
            text-transform: lowercase;

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }
}

.user-interests-container {
    max-width: 600px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    animation: slideDownFadeIn 75ms ease-in-out;
    animation-fill-mode: forwards;

    .text-container {
        margin-bottom: 25px;

        h1 {
            font-family: "Montserrat", sans-serif;
        }
    }

    .buttons-container {
        padding-bottom: 35px;
        .inner {
            float: right;

            button:nth-of-type(2) {
                margin-left: 10px;
            }
        }
    }
}

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}