.mat-dialog-title {
    text-transform: uppercase;

    fa-icon {
        color: rgba(0,0,0,.7);
        margin-right: 10px;
    }
}

.dialog-image {
    max-width: 400px;
    img {
        border-radius: 3px;
        max-width: 100%;
    }
}

.dialog-title {
    max-width: 400px;
    strong {
        font-family: 'Raleway', sans-serif;
    }
}

mat-form-field {
    width: 100% !important;
}