.columns {
  .left {
    .parent {
      height: 100%;
      overflow: hidden;
    }
  }

  .divider {
    grid-area: divider;
    width: 2px;
    background-color: #dee8ff;
  }

  .bottom {
    overflow-y: hidden;
    .delete-resource-array {
      display: grid;
      grid-template-columns: repeat(auto-fit, 100px);
      grid-gap: 15px;
      max-height: 300px;
      padding: 15px;
      -webkit-box-shadow: inset 0px 0px 24px 2px rgba(0,0,0,0.12);
      -moz-box-shadow: inset 0px 0px 24px 2px rgba(0,0,0,0.12);
      box-shadow: inset 0px 0px 24px 2px rgba(0,0,0,0.12);
      border-radius: 10px;

      &:hover, &:focus {
        overflow-y: auto;
      }
    }
  }
}

.mat-dialog-actions {
  float: right;
}
