<form [formGroup]="form" *ngIf="form">
  <div
    class="no-image-text"
    [style.background]="form.get('backgroundColor').value"
  >
    <div class="text-container" [style.color]="form.get('textColor').value">
      <p>{{ form.controls.topText.value }}</p>
      <p>{{ form.controls.bottomText.value | truncate: [20] }}</p>
    </div>
  </div>

  <div class="controls" *ngIf="mode === 'edit'">
    <div class="control p-top-5">
      <mat-label>Background Color</mat-label>
      <div class="input-container">
        <input
          formControlName="backgroundColor"
          [colorPicker]="form.get('backgroundColor').value"
          [value]="form.get('backgroundColor').value"
          (colorPickerChange)="form.get('backgroundColor').setValue($event)"
          [style.background]="form.get('backgroundColor').value"
        />
      </div>
    </div>

    <div class="control p-top-5">
      <mat-label>Text Color</mat-label>
      <div class="input-container">
        <input
          formControlName="textColor"
          [colorPicker]="form.get('textColor').value"
          [value]="form.get('textColor').value"
          (colorPickerChange)="form.get('textColor').setValue($event)"
          cpPosition="bottom"
          [style.background]="form.get('textColor').value"
        />
      </div>
    </div>
  </div>
</form>
