<!-- Privacy -->
<div class="section-container">
  <div class="section" [ngClass]="{ 'padding-bottom': !showAccountForm }">
    <div
      class="section-header-with-icon"
      (click)="showAccountForm = !showAccountForm"
    >
      <p class="left">
        <fa-icon [icon]="faFingerprint"></fa-icon>
        <span>Privacy Settings</span>
      </p>
      <div class="right">
        <fa-icon [icon]="showAccountForm ? faChevronUp : faChevronDown"></fa-icon>
      </div>
    </div>

    <div class="section-content" *ngIf="showAccountForm">
      <h6>Delete Account</h6>
      <form
        [formGroup]="deleteAccountForm"
        (ngSubmit)="openConfirmAccountDeletionDialog()"
      >
        <div class="custom-input">
          <div class="label-container">
            <label>Username</label>
          </div>
          <div class="input-container">
            <input type="text" formControlName="username" placeholder="Write your username" />
          </div>
        </div>
        <div class="form-button-container clearfix">
          <app-custom-button
            buttonLabel="Delete"
            *ngIf="isDeleteable"
            size="small"
            [backgroundColor]="delete"
          ></app-custom-button>
        </div>
      </form>
    </div>
  </div>
</div>
