<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Followers">
    <div class="parent">
      <div class="followers" *ngIf="followers.length > 0">
        <div
          class="user"
          *ngFor="let user of followers"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          [fromRoot]="true"
          (scrolled)="onScrollDown()"
        >
          <div
            class="image"
            [ngStyle]="{
              'background-image':
                'url(' + (user.image ? user.image.link : '') + ')'
            }"
          ></div>
          <div class="details">
            <span>{{ user.name }}</span>
            <span>{{ user.username }}</span>
          </div>
        </div>
      </div>

      <div class="no-data" *ngIf="isLoading">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="25"
        ></mat-progress-spinner>
      </div>
  
      <div class="no-data" *ngIf="!isLoading && followers.length === 0">
        No one's following you
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Following">
    <div class="parent">
      <div class="following" *ngIf="following.length > 0">
        <div
          class="user"
          *ngFor="let user of following"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScrollDown()"
          [fromRoot]="true"
        >
          <div
            class="image"
            [ngStyle]="{
              'background-image':
                'url(' + (user.image ? user.image.link : '') + ')'
            }"
          ></div>
          <div class="details">
            <span class="name">{{ user.name }}</span>
            <span class="username">{{ user.username }}</span>
          </div>
          <div>
            <button mat-stroked-button>Unfollow</button>
          </div>
        </div>
      </div>

      <div class="no-data" *ngIf="isLoading">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="25"
        ></mat-progress-spinner>
      </div>
  
      <div class="no-data" *ngIf="isLoading && following.length > 0">
        You're not following anyone
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
