<mat-progress-bar mode="query" *ngIf="isLoading">
</mat-progress-bar>

<div class="no-auth-layout">
    <div class="left">
        <div class="mobile-bg-signup" *ngIf="currentUrl === '/signup'">
            <div class="circle"></div>
            <img [src]="image" alt="Mountains">
        </div>

        <div class="mobile-bg-login" *ngIf="currentUrl === '/login'">
            <div class="circle"></div>
            <img [src]="image" alt="Mountains">
        </div>

        <h1>Everest</h1>
        <p>A social network lite where you can share and collect stuff off the net
        </p>

        <router-outlet></router-outlet>
    </div>

    <div class="right">

    </div>
</div>