%green-glow {
	box-shadow: 0 0 5px rgba(10, 255, 88, 1);
}

%yellow-glow {
	box-shadow: 0 0 5px rgba(255, 212, 20, 1);
}

%red-glow {
	box-shadow: 0 0 5px rgba(245, 0, 49, 1);
}

.password-strength {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;

	.level {
		padding: 4px;
		background-color: rgba(136, 136, 136, 0.1);
		transition: background-color 0.2s ease-in-out;

		&:nth-of-type(1) {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		&:nth-of-type(3) {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}

	p {
		margin: 0;
		font-size: 12px;
		color: rgba(0, 0, 0, .7);
	}
}

.red {
	@extend %red-glow;
	background-color: #ff1744 !important;
}

.yellow {
	@extend %yellow-glow;
	background-color: #ffea00 !important;
}

.green {
	@extend %green-glow;
	background-color: #00e676 !important;
}

.password-check-list {
	padding: 1px 15px;
	background-color: white;
	box-shadow: 0 13px 23px rgba(0, 0, 0, .1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 25px;
	margin-top: -25px;
	animation: slideDown 0.2s ease-in-out;
	animation-fill-mode: forwards;
	ul {
		padding-left: 0;
		list-style: none;

		li {
			font-size: 12px;
			color: #ff5722;
			fa-icon {
				color: #ff845f;
				margin-right: 10px;
			}
		}
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-25px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}