.password-check-list {
	padding: 1px 15px;
	background-color: white;
	box-shadow: 0 13px 23px rgba(0, 0, 0, .1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 25px;
	margin-top: -25px;
	animation: slideDown 0.2s ease-in-out;
	animation-fill-mode: forwards;
	ul {
		padding-left: 0;
		list-style: none;

		li {
			font-size: 12px;
			color: #ff5722;
			fa-icon {
				color: #ff845f;
				margin-right: 10px;
			}
		}
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-25px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}