<div class="form">
  <p class="form-title">Sign Up</p>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        *ngIf="signUpForm.controls['email'].hasError('email') && !signUpForm.controls['email'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error
        *ngIf="signUpForm.controls['username'].hasError('minlength') && !signUpForm.controls['username'].hasError('required')">
        Username must be <strong>4</strong> letters or more
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['username'].hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <div class="password-strength" *ngIf="signUpForm.get('password').value">
        <div class="level"></div>
        <div class="level"></div>
        <div class="level"></div>
        <p>Strength: Weak</p>
      </div> 
      <mat-error *ngIf="signUpForm.controls['password'].hasError('minlength')">
        Password must be at least 4 characters
      </mat-error>
    </mat-form-field>

    <!-- <div class="password-check-list" *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].hasError('passwordNotStrong')">
      <ul *ngIf="signUpForm.controls['password'].errors.messages">
        <li *ngFor="let message of signUpForm.controls['password'].errors.messages">
            <span *ngIf="message"><fa-icon [icon]="faTimes"></fa-icon>{{ message }}</span>
        </li>
      </ul>
    </div> -->

    <mat-form-field appearance="outline">
      <mat-label>Re-type password</mat-label>
      <input matInput type="password" formControlName="confirm_password" />
      <mat-error *ngIf="signUpForm.controls['confirm_password'].hasError('passwordNotEquivalent')">
        Passwords don't match
      </mat-error>
    </mat-form-field>

    <app-custom-button buttonLabel="Sign Up" [isDisabled]="signingUp"></app-custom-button>
  </form>
</div>

<div class="alternative">
  <span>Have an account? Sign in here</span>
  <div class="go-to-signup" routerLink="/login" matRipple>
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </div>
</div>
