<div class="form">
  <p class="form-title">Sign Up</p>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="custom-input">
      <div class="label-container">
        <label>Email</label>
      </div>
      <div class="input-container">
        <input type="text" formControlName="email" />
      </div>
      <p class="error-message"
        *ngIf="signUpForm.controls['email'].hasError('email') && !signUpForm.controls['email'].hasError('required')">
        Please enter a valid email address
      </p>
      <p class="error-message"
        *ngIf="signUpForm.controls['email'].hasError('required') && signUpFormControls.email.dirty">
        Email is required
      </p>
    </div>

    <div class="custom-input">
      <div class="label-container">
        <label>Username</label>
      </div>
      <div class="input-container">
        <input type="text" formControlName="username" />
      </div>
      <p class="error-message"
        *ngIf="signUpForm.controls['username'].hasError('minlength') && !signUpForm.controls['username'].hasError('required')">
        Username must be 4 letters or more
      </p>
      <p class="error-message"
        *ngIf="signUpForm.controls['username'].hasError('required') && signUpFormControls.username.dirty">
        Username is required
      </p>
    </div>

    <div class="custom-input">
      <div class="label-container">
        <label>First name</label>
      </div>
      <div class="input-container">
        <input type="text" formControlName="firstName" />
      </div>
      <p class="error-message"
        *ngIf="signUpForm.controls['firstName'].hasError('minlength') && !signUpForm.controls['firstName'].hasError('required')">
        First name must be 2 letters or more
      </p>
      <p class="error-message"
        *ngIf="signUpForm.controls['firstName'].hasError('required') && signUpFormControls.firstName.dirty">
        First name is required
      </p>
    </div>

    <div class="custom-input">
      <div class="label-container">
        <label>Last name</label>
      </div>
      <div class="input-container">
        <input type="text" formControlName="lastName" />
      </div>
      <p class="error-message"
        *ngIf="signUpForm.controls['lastName'].hasError('minlength') && !signUpForm.controls['lastName'].hasError('required')">
        Last name must be 2 letters or more
      </p>
      <p class="error-message"
        *ngIf="signUpForm.controls['lastName'].hasError('required') && signUpFormControls.lastName.dirty">
        Last name is required
      </p>
    </div>

    <div class="custom-input">
      <div class="label-container">
        <label>Password</label>
      </div>
      <div class="input-container">
        <input type="password" formControlName="password" />
      </div>
      <p class="error-message" *ngIf="signUpForm.controls['password'].hasError('minlength')">
        Password must be at least 4 characters
      </p>
      <p class="error-message"
        *ngIf="signUpForm.controls['password'].hasError('required') && signUpFormControls.password.dirty">
        Password is required
      </p>
    </div>

    <div class="custom-input" style="margin-bottom: 35px;">
      <div class="label-container">
        <label>Re-type password</label>
      </div>
      <div class="input-container">
        <input type="password" formControlName="confirm_password" />
      </div>
      <p class="error-message" *ngIf="signUpForm.controls['confirm_password'].hasError('passwordNotEquivalent')">
        Passwords don't match
      </p>
      <p class="error-message"
        *ngIf="signUpForm.controls['confirm_password'].hasError('required') && signUpFormControls.confirm_password.dirty">
        Password is required
      </p>
    </div>

    <app-custom-button [buttonLabel]="signUpButtonText" [isDisabled]="signingUp" [isLoading]="signingUp">
    </app-custom-button>
  </form>
</div>

<div class="alternative" routerLink="/login">
  <span>Have an account? Sign in here</span>
  <div class="go-to-signup" matRipple>
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </div>
</div>