<mat-vertical-stepper [linear]="isLinear" #stepper *ngIf="formsReady">
    <mat-step [stepControl]="step1form" [editable]="step1Complete">
        <form [formGroup]="step1form" (ngSubmit)="submitStep1()">
            <ng-template matStepLabel>Type in your your email</ng-template>
            <div class="custom-input">
                <div class="label-container">
                    <label>Email</label>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="email@domain.com" formControlName="email" />
                </div>
                <p class="error-message"
                    *ngIf="step1form.get('email').hasError('required') && step1form.get('email').dirty">
                    Please enter your email
                </p>
            </div>
            <div>
                <button type="submit" mat-stroked-button>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step2form" [editable]="step2Complete">
        <form [formGroup]="step2form" (ngSubmit)="submitStep2()">
            <ng-template matStepLabel>Type in the code we sent to your email</ng-template>
            <div class="custom-input">
                <div class="label-container">
                    <label>Code</label>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="123456" formControlName="code" />
                </div>
                <p class="error-message"
                    *ngIf="step2form.controls.code.hasError('required') && step2form.controls.code.dirty">
                    Please enter the code we provided
                </p>
            </div>
            <div>
                <button type="submit" mat-stroked-button>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step3form">
        <form [formGroup]="step3form" (ngSubmit)="submitStep3()">
            <ng-template matStepLabel>Change your password</ng-template>
            <div class="custom-input">
                <div class="label-container">
                    <label>New Password</label>
                </div>
                <div class="input-container">
                    <input type="text" formControlName="password" />
                </div>
                <p class="error-message"
                    *ngIf="step3form.controls.password.hasError('required') && step3form.controls.password.dirty">
                    Please enter new password
                </p>
            </div>

            <div class="custom-input">
                <div class="label-container">
                    <label>Confirm New Password</label>
                </div>
                <div class="input-container">
                    <input type="text" formControlName="confirmPassword" />
                </div>
                <p class="error-message"
                    *ngIf="step3form.controls.confirmPassword.hasError('required') && step3form.controls.confirmPassword.dirty">
                    Please enter new password
                </p>
            </div>
            <div>
                <button type="submit" mat-stroked-button>Done</button>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>