<div class="login-form-parent">
  <div class="lock-icon-parent">
      <mat-icon>lock</mat-icon>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="col-xs-12">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <div class="login-signup">
        <a routerLink="/signup">Sign Up</a>
        <button mat-raised-button color="primary">Login</button>
      </div>
    </div>
  </div>
</div>
