.login-form-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 25px;

    .lock-icon-parent {
        text-align: center;
        padding: 0 0 15px 0;
    }

    .login-signup {
        a {
            text-decoration: none;
            float: left;
            font-size: 14px;
            padding-top: 8px;
        }
        button {
            float: right;
        }
    }
}