.user-box {
	cursor: pointer;
	width: auto;
	min-width: 100px;
	box-shadow: 0 8px 20px 0 rgba(197, 197, 197, 0.6);
	background-color: white;
	border-radius: 5px;
	margin-bottom: 25px;
	transition: box-shadow 0.2s ease-in;
	position: relative;
	
	&:hover {
		box-shadow: 0 22px 32px 0 rgba(197, 197, 197, 0.9);
	}

	.image-container {
		padding-top: 15px;
		display: grid;
		place-items: center;
	}

	.details {
		text-align: center;
		padding: 0 15px 15px 15px;

		h4 {
			font-size: 14px;
			margin-bottom: 10px;
		}

		p {
			font-size: 12px;
			margin-bottom: 0;
		}
	}
}

@media (min-width: 602px) {
	.user-box {
		.image {
			display: inherit;
		}
	}
}
