.collection {
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 15px;
    padding: 5px;

    .image {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: #EFEFBB;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-size: cover;
      background-position: center center;
      align-self: center;
    }

    p {
      align-self: center;
      margin: 0;

      .in-this-collection {
          background: #FDC830;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-radius: 3px;
          color: white;
          padding: 3px 0 1px 6px;
          display: block;
          font-size: 12px;
          font-family: 'Hind', sans-serif;
          width: 90px;
      }
    }
  }