<h6>Add to Collection</h6>
<form [formGroup]="atcForm">
  <div *ngIf="collections">
    <mat-form-field appearance="fill">
      <mat-label>Existing collections</mat-label>
      <mat-select formControlName="collectionId" #collectionSelect>
        <mat-option
          *ngFor="let collection of collections"
          [value]="collection._id"
        >
          {{ collection.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-checkbox-container">
    <mat-checkbox formControlName="newCollection"
      >Create new Collection</mat-checkbox
    >
  </div>
  <mat-form-field
    appearance="outline"
    *ngIf="atcFormControls.newCollection.value"
  >
    <mat-label>Collection Name</mat-label>
    <input
      type="text"
      matInput
      placeholder="Name"
      formControlName="collectionName"
    />
  </mat-form-field>
</form>
