.resource {
	display: inline-flex;
	width: 100%;
	border: 1px solid rgba(14, 13, 13, 0.158);
	border-radius: 5px;
    margin-bottom: 25px;

	.image {
		display: none;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-radius: 8px;
		max-width: 200px;
		object-fit: cover;
		padding: 5px;
	}

	.details {
		padding: 15px;

		.actions {
			button {
				margin-right: 5px;
			}
		}
	}
}

@media (min-width: 602px) {
	.resource {
		.image {
			display: inherit;
		}
	}
}
