<div class="resource">
  <img class="image" [src]="data.image">
  <div class="details">
    <h4>{{ data.title }}</h4>
    <p>{{ data.description | truncate:[40] }}</p>
    <div class="actions">
      <button mat-button>
        <a [routerLink]="['/view-resource/', id]"><fa-icon [icon]="faEye"></fa-icon></a>
      </button>

      <button mat-button>
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>

      <button mat-button>
        <a [href]="data.url" target="_blank"><fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
      </button>

      <button mat-button color="warn" (click)="openDrDialog()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </div>
  </div>
  <div class="stats"></div>
</div>
