$block-width: 50%;

.section-container {
    .collection-data {
        .title {
            transition: all 0.2s ease-in-out;
            &:focus {
                background-color: white;
                border-radius: 3px;
                padding: 15px;
            }
        }

        .resources {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
    }
}