<div class="section-container">
    <div class="collection-data" *ngIf="collection">
        <div class="collection-header">
            <h1 class="title" contenteditable="true">{{ collection.title }}</h1>
            <fa-icon class="fa-edit" [icon]="faPen"></fa-icon>
        </div>

        <div class="resource-grid">
            <app-resource 
            *ngFor="let resource of resources" 
            [data]="resource" 
            [isInCollectionPage]="true"
            (drResponse)="drResponseHandler($event)"
            [collectionId]="id"></app-resource>
        </div>

        <div *ngIf="resources.length === 0">
            <p>This collection is empty</p>
        </div>

        <div class="delete" (click)="openDcDialog()">
            <app-custom-button buttonLabel="Delete Collection" size="small" backgroundColor="delete"></app-custom-button>
        </div>
    </div>
</div>