.section-container {
  .collection-data {
    margin-bottom: 25px;
    .collection-header {
      display: grid;
      grid-template-columns: 1fr 20px;

      .title {
        transition: all 0.2s ease-in-out;

        &:focus {
          background-color: white;
          border-radius: 10px;
          padding: 15px;

          .fa-edit {
            opacity: 0;
          }
        }
      }

      .fa-edit {
          color: rgba(0, 0, 0, .7);
          grid-column: span end;
          align-self: center;
          justify-self: center;
          font-size: 12px;
      }
    }

    .delete {
      width: 250px;
    }
  }
}
