.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;

  h1 {
    .app-name {
      margin-left: 8px;
    }
  }

  .profile-container {
    width: 100%;

    span {
      float: right;
      padding-top: 5px;
      margin-right: 45px;
      font-size: 14px;
    }

    button {
      float: right;
    }

    .profile-image {
      width: 40px;
      height: 40px;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 50%;
      float: right;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }

  .is-mobile {
    .toolbar {
      position: fixed;
      z-index: 2;
    }

    .sidenav-container {
      flex: 1 0 auto;
    }
  }

  .sidenav-container {
    flex: 1;
  }

  mat-sidenav {
    padding: 15px 25px 0 25px !important;
  }

  mat-sidenav-container {
    margin-top: 0 !important;
  }
}

.thick-border {
  border: 1px solid rgba(0,0,0,1) !important;
}
