<p class="dialog-title">
  <strong>Add to Collection</strong>
</p>
<div mat-dialog-content>
  <div class="columns">
    <div class="left">
      <div class="parent">
        <div
          *ngIf="collections.length > 0"
          class="existing-collections"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScrollDown()"
          [scrollWindow]="false"
        >
          <h6>Add to existing collections</h6>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading">
          </mat-progress-bar>

          <app-mini-collection
            *ngFor="let collection of collections"
            (click)="addResourceToCollection(collection)"
            [data]="collection"
            [resourceId]="data.id"
          ></app-mini-collection>

          <p
            *ngIf="!isLoading && collections.length === 0"
            class="no-collection"
          >
            You haven't made a collection yet!
          </p>
        </div>

        <form [formGroup]="createCollectionForm">
          <h6>Add to new collection</h6>
          <div class="custom-input">
            <div class="label-container">
              <label>Collection Name</label>
            </div>
            <div class="input-container">
              <input
                type="text"
                formControlName="collectionTitle"
                placeholder="Name your collection"
              />
            </div>
          </div>

          <div class="custom-input">
            <div class="label-container">
              <label>Collection Description</label>
            </div>
            <div class="input-container">
              <textarea
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"
                type="text"
                formControlName="description"
                placeholder="Describe this collection..."
              ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="divider" *ngIf="!isMobileViewport"></div>

    <div class="right" *ngIf="!isMobileViewport">
      <img *ngIf="!data.noImage" [src]="data.image" />
      <div
        *ngIf="data.noImage"
        class="no-image-text"
        [ngStyle]="{
          'background-color': data.backgroundColor,
          color: data.textColor
        }"
      >
        <div class="text-container">
          <p>{{ topText }}</p>
          <p>{{ bottomText }}</p>
        </div>
      </div>
      <h4>{{ data.title }}</h4>
      <p>{{ data.description }}</p>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="submitCreateCollectionForm()"
    cdkFocusInitial
    [disabled]="isLoading"
  >
    Save
  </button>
</div>
