$temp: var(--manage-header-control-background-color);

.container {
  padding-left: 15px;
  padding-right: 15px;

  .header {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-gap: 15px;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px 0px 0 15px;
    overflow-x: hidden;

    h3 {
      font-size: 16px;
    }

    .controls {
      display: grid;
      grid-gap: 15px;

      .control {
        background-color: var(--manage-header-control-background-color);
        border: 2px solid transparent;
        border-radius: 25px;
        display: inline-grid;
        grid-template-columns: 15px auto;
        grid-gap: 15px;
        padding: 5px 20px;
        justify-self: center;
        transition: border 0.2s ease-in-out,
          width 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 100%;

        &:focus-within {
          border: 2px solid rgba(72, 26, 137, 0.5);
        }

        .control-icon {
          align-self: center;

          fa-icon {
            color: var(--manage-header-control-icon-color);
            font-size: 16px;
          }
        }

        input {
          width: 100%;
          align-self: center;
          background-color: transparent;
          border: none;
          font-size: 14px;
          color: var(--manage-header-control-input-color);

          &:focus {
            outline: 0;
            border: 0;
          }

          &::placeholder {
            color: var(--manage-header-control-input-placeholder-color);
          }
        }
      }

      .control.search {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .control-group {
        text-align: center;
        background-color: var(--manage-header-control-background-color);
        border: 2px solid transparent;
        border-radius: 25px;
        padding: 0px 20px 5px 20px;
        transition: border 0.2s ease-in-out;
        justify-self: right;

        div:first-child {
          margin-right: 10px;
        }

        .group {
          display: inline-block;
          vertical-align: sub;
          cursor: pointer;

          fa-icon {
            color: var(--manage-header-control-icon-color);
            font-size: 14px;
            transition: color 0.2s ease-in-out;
          }

          span {
            color: #6d6b71;
            font-size: 12px;
            margin-left: 8px;
            transition: color 0.2s ease-in-out;
          }
        }
      }
    }
  }

  .columns {
    display: grid;
    grid-template-columns: auto;
  }
}

.selected {
  fa-icon {
    color: var(--manage-header-control-selected) !important;
  }

  span {
    color: var(--manage-header-control-selected) !important;
  }
}

.search-in-focus {
  width: inherit;
}

.one-column {
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .container {
    .header {
      grid-template-columns: 85px 1fr;
      padding: 50px 30px 0 30px;

      h3 {
        font-size: inherit;
      }

      .controls {
        justify-self: end;

        .control {
          width: 100px;
        }

        .control-group {
          padding: 3px 20px 5px 20px;
          .group {
            fa-icon {
              font-size: 16px;
            }
  
            span {
              font-size: 14px;
            }
          }
        }
      }
    }

    .columns {
      grid-template-columns: minmax(auto, 350px) 1fr;
      grid-gap: 15px;
      padding: 0 30px;
    }
  }
}

@media (min-width: 860px) {
  .search-in-focus {
    width: 200px !important;
  }
}