.section-container {
  margin-top: 25px;
  .search-container {
    background-color: var(--search-page-tool-background-color);
    padding: 10px 10px 15px 15px;
    border-radius: 5px;

    form {
      display: inherit;

      .checkboxes-container {
        align-self: center;
        .checkboxes {
          display: inline;
          font-size: 12px;
          mat-checkbox:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .search-section {
    h3 {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
    }
  }
}

.list-of-collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  grid-column-gap: 15px;
}

@media (min-width: 768px) {
  .list-of-collections {
    justify-items: inherit;
    grid-template-columns: repeat(auto-fit, 278px);
  }

  .section-container {
    .search-container {
      padding: 10px 10px 0px 15px;
      form {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 15px;

        .checkboxes-container {
          margin-top: -10px;
          .checkboxes {
            display: inline-block;
            font-size: inherit;
          }
        }
      }
    }
  }
}
