<h1 mat-dialog-title><fa-icon [icon]="faPlusCircle"></fa-icon> Add to Collection</h1>
<div class="dialog-image">
  <img [src]="data.image" alt="Image">
</div>
<p class="dialog-title">
  <strong>{{ data.title }}</strong>
</p>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Collections</mat-label>
    <mat-select>
      <mat-option *ngFor="let data of mockData" [value]="data.name">
        {{ data.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Ok</button>
</div>
