$init_bottom: 15px;
$space_between_fab_buttons: 75px;
$fab_button_1_position: $init_bottom + $space_between_fab_buttons;

%posFixed {
    position: fixed;
    right: 25px;
    z-index: -10;
}

.feed-container {
	padding: 15px;

	.add-content-buttons {
		.fab-add-content {
			position: fixed;
			bottom: 15px;
            right: 15px;
            z-index: 100;
		}

		.fab-add-post {
            @extend %posFixed;
            bottom: $fab_button_1_position;
            animation-delay: -0.1s;
        }
        
        .fab-add-document {
            @extend %posFixed;
            bottom: $fab_button_1_position * 1.6;
        }
	}
}

.animation-rotate90Clockwise {
	animation: rotate90Clockwise 0.2s ease-in-out;
	animation-fill-mode: forwards;
}

.animation-rotate90AntiClockwise {
	animation: rotate90AntiClockwise 0.2s ease-in-out;
	animation-fill-mode: forwards;
}

.animation-scaleAppear {
    animation: scaleAppear 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.animation-scaleDisappear {
    animation: scaleDisappear 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rotate90Clockwise {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotate90AntiClockwise {
	0% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes scaleAppear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleDisappear {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


