<div class="feed-container">
  <app-post *ngFor="let post of posts" [data]="post"></app-post>

  <div class="add-content-buttons">
    <button class="fab-add-content" mat-fab color="primary" (click)="isFabActive = !isFabActive"
      [ngClass]="isFabActive ? 'animation-rotate90Clockwise' : 'animation-rotate90AntiClockwise'">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <button 
    routerLink="/share-resource"
    class="fab-add-post" 
    mat-mini-fab 
    matTooltip="Share a Resource" 
    matTooltipPosition="left"
    [ngClass]="isFabActive ? 'animation-scaleAppear' : 'animation-scaleDisappear'"
    [ngStyle]="{'animation-delay': isFabActive ? '-0.1s' : '0s'}">
      <fa-icon [icon]="faLink"></fa-icon>
    </button>
    <button 
    class="fab-add-document" 
    mat-mini-fab 
    matTooltip="Add a Document" 
    matTooltipPosition="left" 
    [ngClass]="isFabActive ? 'animation-scaleAppear' : 'animation-scaleDisappear'"
    [ngStyle]="{'animation-delay': isFabActive ? '0s' : '-0.1s'}">
      <fa-icon [icon]="faFile"></fa-icon>
    </button>
  </div>
</div>