<div class="parent">
    <div class="feed-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScrollDown()" [scrollWindow]="false">
        <app-post *ngFor="let post of posts" [data]="post" [currentUser]="username" [currentUserId]="userId"></app-post>

        <!-- * If loading -->
        <div class="section-container" *ngIf="isLoading">
            <app-loading type="post"></app-loading>
        </div>

        <!-- * If no data -->
        <div class="section-container" *ngIf="posts.length === 0 && !isLoading">
            <app-empty-state [data]="{ type: 'feed', isSelf: true }"></app-empty-state>
        </div>
    </div>
</div>