<h1 mat-dialog-title>Delete Resource</h1>

<p>Are you sure you want to delete <strong>{{ data.title }}</strong></p>

<div mat-dialog-actions align="end">
  <button mat-flat-button [disabled]="isLoading" color="warn" (click)="onYesClick()" cdkFocusInitial>
    <div class="mat-dialog-button-with-spinner">
      <mat-progress-spinner *ngIf="isDisabled" color="accent" mode="indeterminate" value="50" diameter="15">
      </mat-progress-spinner>
      <span>{{ isDisabled ? 'Deleting' : 'Delete' }}</span>
    </div>
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
