.search {
  mat-form-field {
    margin-top: 15px;
    width: 100%;
  }

  mat-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .8);

    fa-icon {
      position: absolute;
      top: 2px;
    }
  }
}

.list-of-collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-auto-flow: dense;
  grid-column-gap: 5px;
  justify-items: center;
}

@media (min-width: 768px) {
  .list-of-collections {
    justify-items: start;
    grid-template-columns: repeat(auto-fit, 210px);
  }
}
