<!-- <div class="section-container">
  
</div> -->

<div class="list-of-collections">
  <!-- * No Data -->
  <div *ngIf="collections && collections.length === 0 && !isLoading; then thenBlock else elseBlock">

  </div>

  <ng-template #thenBlock>
    <app-empty-state [data]="{ type: 'collection', isSelf: userData.isSelf }"></app-empty-state>
  </ng-template>

  <ng-template #elseBlock>
    <app-collection *ngFor="let collection of collections" [data]="collection"></app-collection>
  </ng-template>

  <!-- * Loading -->
  <app-loading type="collection" *ngIf="isLoading"></app-loading>
</div>