<div class="section-container">
  <div class="collection-data" *ngIf="collection">
    <form [formGroup]="changeCollectionTitleForm" *ngIf="isMine">
      <div class="collection-header">
        <div class="left">
          <small
            class="username"
            [routerLink]="['/profile', collection.username]"
            >{{ collection.username }}'s collection</small
          >
          <mat-form-field>
            <input type="text" matInput formControlName="title" />
            <mat-icon matSuffix>
              <fa-icon [icon]="faEdit"></fa-icon>
            </mat-icon>
            <mat-hint>Collection title</mat-hint>
          </mat-form-field>
          <h2 *ngIf="!isMine">
            {{ changeCollectionTitleForm.get("title").value }}
          </h2>
        </div>

        <div class="right">
          <span>{{ numOfResources }}</span
          ><small>resources</small>
        </div>

        <div class="bottom">
          <mat-form-field>
            <textarea type="text" matInput formControlName="description"></textarea>
            <mat-icon matSuffix>
              <fa-icon [icon]="faEdit"></fa-icon>
            </mat-icon>
            <mat-hint>Collection description</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
    
    <div class="resource-grid">
      <app-resource
        *ngFor="let resource of resources"
        [data]="resource"
        [collectionId]="id"
      ></app-resource>
    </div>

    <div
      class="see-more"
      *ngIf="!isLoading && seeMore"
      (click)="getCollection()"
    >
      See More
    </div>

    <div *ngIf="resources.length === 0">
      <p>This collection is empty</p>
    </div>

    <div class="delete" (click)="openDcDialog()" *ngIf="isMine">
      <app-custom-button
        buttonLabel="Delete Collection"
        size="small"
        backgroundColor="delete"
      >
      </app-custom-button>
    </div>
  </div>
</div>
