.section-container {
  .collection-data {
    margin-bottom: 25px;

    .collection-header {
      padding: 15px;
      background-color: var(--view-collection-header);
      margin: 15px 0;
      border-radius: 5px;
      h2, p {
        font-family: "Montserrat", sans-serif;
        margin: 0;
      }

      h2 {
        margin-bottom: 10px;
        font-size: 16px;
      }
      
      p {
        font-weight: 300;
        font-size: 12px;
      }
    }

    .delete {
      width: 250px;
    }
  }
}

@media(min-width: 768px) {
  .section-container {
    .collection-data {
      .collection-header {
        h2, p {
          font-size: inherit;
        }
      }
    }
  }
}
