.section-container {
  .collection-data {
    margin-bottom: 25px;
    .collection-header {
      margin-bottom: 15px;

      mat-form-field {
        width: 100%;
        
        input {
          font-size: 25px;
        }

        mat-icon {
          font-size: 100%;
          color: rgba(0, 0, 0, .7);
        }
      }
    }

    .delete {
      width: 250px;
    }
  }
}
