<div class="section-container">
    <div class="collection-data" *ngIf="collection">
        <div class="collection-header">
            <small class="username" [routerLink]="['/profile', collection.username]">{{ collection.username }}'s collection</small>
            <form [formGroup]="changeCollectionTitleForm">
                <mat-form-field>
                    <input type="text" matInput formControlName="title">
                    <mat-icon matSuffix>
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </mat-icon>
                    <mat-hint>Change your collection title</mat-hint>
                </mat-form-field>
            </form>
        </div>

        <div class="resource-grid" *ngIf="!isLoading">
            <app-resource *ngFor="let resource of resources" [data]="resource" [whichPage]="2"
                [isInCollectionPage]="true" (drResponse)="drResponseHandler($event)" [collectionId]="id"></app-resource>
        </div>

        <div class="resource-grid">
            <app-loading *ngIf="isLoading" type="resource"></app-loading>
        </div>

        <div *ngIf="resources.length === 0">
            <p>This collection is empty</p>
        </div>

        <div class="delete" (click)="openDcDialog()">
            <app-custom-button buttonLabel="Delete Collection" size="small" backgroundColor="delete">
            </app-custom-button>
        </div>
    </div>
</div>