<div class="section-container">
  <div class="collection-data" *ngIf="collection">
    <div class="collection-header">
      <h2>{{ collection.title }}</h2>
      <p>{{ collection.description }}</p>
    </div>
    
    <div class="resource-grid">
      <app-resource
        *ngFor="let resource of resources"
        [data]="resource"
        [collectionId]="id"
      ></app-resource>
    </div>

    <div
      class="see-more"
      *ngIf="!isLoading && (resources.length < numOfResources)"
      (click)="seeMore()"
    >
      See More
    </div>

    <div *ngIf="resources.length === 0">
      <p>This collection is empty</p>
    </div>
  </div>
</div>
