<div class="post">
    <!-- * Header -->
    <div class="header">
        <div class="user-image animate">
        </div>
        <div class="uploader-info">
            <div class="comment animate" style="margin-bottom: 20px; width: 100px;"></div>
            <div class="comment animate" style="margin-bottom: 0; width: 50px;"></div>
        </div>
    </div>

    <!-- * Image -->
    <a>
        <div class="image"></div>
    </a>

    <!-- * Title -->
    <div class="title animate"></div>

    <!-- * Description -->
    <div class="description">
        <div class="comment animate"></div>
    </div>
</div>