<div class="section-container">
  <div class="section">
    <div class="section-content" *ngIf="!isLoading">
      <div class="header">
        <div
          class="user-image"
          [routerLink]="['/profile/user', username]"
          [ngStyle]="{ 'background-image': 'url(' + userImage + ')' }"
        ></div>
        <div class="uploader-info">
          <span>{{ username }}</span>
          <small>{{ timestamp }}</small>
        </div>
      </div>

      <div class="image">
        <img [src]="image" [alt]="title" />
      </div>

      <div class="title">
        {{ title }}
      </div>
      <div class="article" [innerHtml]="description"></div>
    </div>
  </div>
</div>
