<!-- Change Password -->
<div class="section-container" style="margin-bottom: 0">
  <div class="section" [ngClass]="{ 'padding-bottom': !showPasswordForm }">
    <div
      class="section-header-with-icon"
      (click)="showPasswordForm = !showPasswordForm"
    >
      <p class="left">
        <fa-icon [icon]="faKey"></fa-icon>
        <span>Change Password</span>
      </p>
      <div class="right">
        <fa-icon
          [icon]="showPasswordForm ? faChevronUp : faChevronDown"
        ></fa-icon>
      </div>
    </div>
    <div class="section-content" *ngIf="showPasswordForm">
      <form [formGroup]="passwordForm" (ngSubmit)="changePasswordForm()">
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="currentPass"
            type="password"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="password"
            type="password"
          />
          <mat-error
            *ngIf="
              passwordForm.controls['password'].hasError('passwordNotStrong')
            "
          >
            {{ passwordForm.controls["password"].errors.error_message }}
          </mat-error>
          <mat-error
            *ngIf="passwordForm.controls['password'].hasError('minlength')"
          >
            Password must be at least 4 characters
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm New Password</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="confirm_password"
            type="password"
          />
          <mat-error
            *ngIf="
              passwordForm.controls['confirm_password'].hasError(
                'passwordNotEquivalent'
              )
            "
          >
            Passwords don't match
          </mat-error>
        </mat-form-field>

        <div class="form-button-container">
          <app-custom-button
            buttonLabel="Save"
            size="small"
          ></app-custom-button>
        </div>
      </form>
    </div>
  </div>
</div>
