<!-- Change Password -->
<div class="section-container" style="margin-bottom: 0">
  <div class="section" [ngClass]="{ 'padding-bottom': !showPasswordForm }">
    <div class="section-header-with-icon" (click)="showPasswordForm = !showPasswordForm">
      <p class="left">
        <fa-icon [icon]="faKey"></fa-icon>
        <span>Change Password</span>
      </p>
      <div class="right">
        <fa-icon [icon]="showPasswordForm ? faChevronUp : faChevronDown"></fa-icon>
      </div>
    </div>
    <div class="section-content" *ngIf="showPasswordForm">
      <form [formGroup]="passwordForm" (ngSubmit)="changePasswordForm()">
        <div class="custom-input">
          <div class="label-container">
            <label>Current Password</label>
          </div>
          <div class="input-container">
            <input type="password" formControlName="currentPass" placeholder="" />
          </div>
          <p class="error-message" *ngIf="passwordForm.controls['currentPass'].hasError('required') &&
          passwordForm.controls['currentPass'].dirty">
            Current password required
          </p>
        </div>

        <div class="custom-input">
          <div class="label-container">
            <label>New Password</label>
          </div>
          <div class="input-container">
            <input type="password" formControlName="password" placeholder="" />
          </div>
          <p class="error-message" *ngIf="passwordForm.controls['password'].hasError('passwordNotStrong')">
            {{ passwordForm.controls["password"].errors.error_message }}
          </p>
          <p class="error-message" *ngIf="passwordForm.controls['password'].hasError('minlength')">
            Password must be at least 4 characters
          </p>
        </div>

        <div class="custom-input">
          <div class="label-container">
            <label>Confirm New Password</label>
          </div>
          <div class="input-container">
            <input type="password" formControlName="confirm_password" placeholder="" />
          </div>
          <p class="error-message" *ngIf="passwordForm.controls['confirm_password'].hasError(
            'passwordNotEquivalent'
          )">
            Passwords don't match
          </p>
        </div>

        <div class="form-button-container">
          <app-custom-button buttonLabel="Save" size="small" [isDisabled]="passwordForm.invalid"></app-custom-button>
        </div>
      </form>
    </div>
  </div>
</div>