<form [formGroup]="articleForm">
    <div class="section-container">
      <div class="section">
        <div class="section-content">
          <textarea
            autosize
            style="height: 50px"
            matInput
            placeholder="Title"
            formControlName="title"
            class="input-title"
          ></textarea>
          <mat-error
            *ngIf="
              articleFormControls.title.hasError('required') &&
              articleFormControls.title.dirty
            "
          >
            Please enter title
          </mat-error>
  
          <div class="editor-container">
            <editor
              id="tinyeditor"
              initialValue=""
              [apiKey]="apiKey"
              [init]="tinyMceInit"
              formControlName="body"
            ></editor>
            <mat-error
              *ngIf="
                articleFormControls.body.hasError('required') &&
                articleFormControls.body.dirty
              "
            >
              Your article can't be empty!
            </mat-error>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section-container">
      <div class="section">
        <div class="section-header">
          <h4>Decorate your article</h4>
        </div>
        <div class="section-content">
          <mat-form-field appearance="outline">
            <mat-label>Add tags to your article</mat-label>
            <mat-chip-list #chipList aria-label="Interest selection">
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeTag(tag)"
              >
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Tag"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)"
              />
            </mat-chip-list>
          </mat-form-field>
  
          <mat-form-field *ngIf="!articleFormControls.isCustomImage.value" appearance="outline">
            <mat-label>Give your article an image</mat-label>
            <input matInput placeholder="Link to image" formControlName="imageLink" />
            <mat-error
              *ngIf="
                articleFormControls.imageLink.hasError('imageUrlInvalid') &&
                articleFormControls.imageLink.dirty
              "
            >
              Please enter a link that ends with .jpg / .png or similar
            </mat-error>
          </mat-form-field>
  
          <div class="mat-checkbox-container">
            <mat-checkbox formControlName="isCustomImage"
              >Upload custom feature image</mat-checkbox
            >
          </div>
  
          <div
            class="custom-image"
            (click)="imageInput.click()"
            matRipple
            *ngIf="articleFormControls.isCustomImage.value"
            [ngStyle]="{ 'background-image': 'url(' + customImage + ')' }"
          >
            <p *ngIf="!customImage">
              <fa-icon [icon]="faUpload"></fa-icon>&nbsp;Click here to upload a
              custom image
            </p>
            <div
              *ngIf="customImage"
              class="remove"
              (click)="removeImage('customImage')"
              matRipple
            >
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </div>
            <input
              hidden
              (change)="onFileSelected(imageInput)"
              #imageInput
              type="file"
              accept="image/*"
            />
          </div>
  
          <div
            *ngIf="
              image &&
              !articleFormControls.isCustomImage.value &&
              articleFormControls.imageLink.valid
            "
            class="resource-image"
            [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
          >
            <div class="remove" (click)="removeImage('image')" matRipple>
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </div>
          </div>
  
          <h6>Add to collection</h6>
          <mat-form-field appearance="outline">
            <mat-label>Collections</mat-label>
            <input type="text" placeholder="Select or Create New" matInput [matAutocomplete]="auto" formControlName="collectionTitle">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-optgroup label="Existing Collections">
                <mat-option *ngFor="let collection of collections" [value]="collection.title">
                  {{ collection.title }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>
  
          <div class="form-button-container">
            <app-custom-button
              [buttonLabel]="saveButtonText"
              (click)="submitArticle()"
              size="small"
            ></app-custom-button>
          </div>
        </div>
      </div>
    </div>
  </form>
  