<div class="post" *ngIf="type === 'post'">
    <div class="header">
        <div class="user-image animate">
        </div>
        <div class="uploader-info">
            <div class="comment animate" style="margin-bottom: 20px; width: 100px;"></div>
            <div class="comment animate" style="margin-bottom: 0; width: 50px;"></div>
        </div>
    </div>

    <a>
        <div class="image"></div>
    </a>

    <div class="title animate"></div>

    <div class="description">
        <div class="comment animate"></div>
    </div>
</div>

<div class="resource" *ngIf="type === 'resource'">
    <div class="image"></div>
    <div class="title animate"></div>
    <div class="description">
        <div class="comment animate"></div>
    </div>
</div>

<div class="collection" *ngIf="type === 'collection'">
    <div class="image"></div>
    <div class="title animate"></div>
    <div class="description">
        <div class="comment animate"></div>
    </div>
</div>

<div class="profile" *ngIf="type === 'profile'">
    <div class="profile-picture">
        <div class="image-container animate">
        </div>
        <div class="text">
            <p class="comment animate"></p>
            <p class="comment animate"></p>
        </div>
    </div>
</div>

<div class="profile-summary" *ngIf="type === 'profile-summary'">
    <div class="profile-picture">
        <div class="image-container animate">
        </div>
        <div class="text">
            <p class="name animate"></p>
        </div>
    </div>

    <div class="boxes">
        <div class="box animate"></div>
        <div class="box animate"></div>
        <div class="box animate"></div>
    </div>

    <div class="section">
        <div class="header animate"></div>
        <div class="content animate"></div>
    </div>

    <div class="section">
        <div class="header animate"></div>
        <div class="content animate"></div>
    </div>

    <div class="section">
        <div class="header animate"></div>
        <div class="content animate"></div>
    </div>
</div>