<div class="post" *ngIf="type === 'post'">
    <div class="header">
        <div class="user-image animate">
        </div>
        <div class="uploader-info">
            <div class="comment animate" style="margin-bottom: 20px; width: 100px;"></div>
            <div class="comment animate" style="margin-bottom: 0; width: 50px;"></div>
        </div>
    </div>

    <a>
        <div class="image"></div>
    </a>

    <div class="title animate"></div>

    <div class="description">
        <div class="comment animate"></div>
    </div>
</div>

<div class="resource" *ngIf="type === 'resource'">
    <div class="image"></div>
    <div class="title animate"></div>
    <div class="description">
        <div class="comment animate"></div>
    </div>
</div>