.post {
    background-color: var(--loading-background);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-bottom: 25px;

    .header {
        display: grid;
        grid-template-columns: 50px 1fr 1fr;
        padding: 10px 15px;
        border-bottom: var(--loading-border-bottom);

        .user-image {
            width: 40px;
            height: 40px;
            border: 1px solid white;
            border-radius: 50%;
        }

        .uploader-info {
            align-self: center;
            height: 100%;
        }
    }

    .image {
        height: 250px;
        border-bottom: var(--loading-border-bottom);
    }

    .title {
        margin: 15px 15px 15px 15px;
        width: 100px;
        height: 20px;
        border-radius: 10px;
    }

    .description {
        padding: 0 15px 15px 15px;
        line-height: 25px;
    }
}

.resource {
    background-color: var(--loading-background);
    border-radius: 5px;
    width: 275px;
    max-width: 300px;
    margin-bottom: 25px;

    .image {
        height: 200px;
        border-bottom: var(--loading-border-bottom);
    }

    .title {
        margin: 15px 15px 15px 15px;
        width: 100px;
        height: 20px;
        border-radius: 10px;
    }

    .description {
        padding: 0 15px 15px 15px;
        line-height: 25px;
    }
}

.collection {
    background-color: var(--loading-background);
    border-radius: 5px;
    width: 200px;
    max-width: 300px;
    margin-bottom: 25px;

    .image {
        height: 200px;
        border-bottom: var(--loading-border-bottom);
    }

    .title {
        margin: 15px 15px 15px 15px;
        width: 100px;
        height: 20px;
        border-radius: 10px;
    }

    .description {
        padding: 0 15px 15px 15px;
        line-height: 25px;
    }
}

.profile {
    .profile-picture {
        display: grid;
        grid-template-columns: 90px 1fr 100px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: 25px;

        .image-container {
            border-radius: 50%;
            width: 75px;
            height: 75px;
            margin-right: 15px;
        }

        .text {
            p {
                margin-bottom: 0;
            }
        }
    }
}

.comment {
    height: 10px;
    background: #777;
    margin-bottom: 15px;
    border-radius: 5px;
}

.profile-summary {
    background-color: var(--loading-background);
    border-radius: 5px;
    padding: 5px;

    .profile-picture {
        display: grid;
        grid-template-columns: 75px 2fr;
        grid-gap: 15px;
        padding: 15px;

        .image-container {
            background-color: lightgrey;
            background-size: cover;
            background-repeat: no-repeat;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            align-self: center;
            justify-self: center;
        }

        .text {
            p {
                margin-bottom: 0;
            }
        }
    }

    .boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        text-align: center;
        align-content: center;
        padding: 15px 15px 15px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;

        .box {
            border-radius: 5px;
            padding: 25px;
            height: 35px;
        }
    }

    .section {
        padding: 0 15px;
        margin-bottom: 25px;

        .header {
            height: 20px;
            background: var(--loading-content-background);
            margin-bottom: 15px;
            border-radius: 10px;
            width: 100px;
        }

        .content {
            height: 15px;
            background: var(--loading-content-background);
            margin-bottom: 15px;
            border-radius: 10px;
        }
    }
}

@keyframes fullView {
    100% {
        width: 100%;
    }
}


.animate {
    animation: shimmer 2s infinite linear;
    background: var(--loading-animate);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}