.resource {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.12);
  .resource-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    fa-icon {
      color: #fe5045;
      cursor: pointer;
      font-size: 25px;
      transition: color 0.2s ease-in-out;
    }

    &:hover {
      fa-icon {
        color: red;
      }
    }
  }
}

.hover-in {
  animation: hoverIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.hover-out {
  animation: hoverOut 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hoverIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes hoverOut {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
