%imageBox {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center center;
}

%noImageBox {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

%tick-mark {
  align-self: center;
  justify-self: center;
  font-size: 14px;
}

.collection {
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  // grid-template-columns: 50px 1fr;
  grid-column-gap: 15px;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .image {
    position: relative;
    @extend %imageBox;

    .placeholder {
      position: absolute;
      @extend %imageBox;
      display: grid;

      span {
        align-self: center;
        justify-self: center;
        text-transform: uppercase;
      }
    }
  }

  .no-image {
    position: relative;
    @extend %noImageBox;

    .placeholder {
      position: absolute;
      @extend %noImageBox;
      display: grid;
      background-color: #dee8ff;

      span {
        align-self: center;
        justify-self: center;
        text-transform: uppercase;
      }
    }
  }

  p {
    align-self: center;
    margin: 0;
  }

  .tick-container {
    align-self: center;
    .nitc {
      color: var(--atc-nitc);
      @extend %tick-mark;
    }
  
    .itc {
      color: rgb(42, 190, 42);
      @extend %tick-mark;
    }
  }
}

.two-columns {
  grid-template-columns: 50px 1fr;
}

.three-columns {
  grid-template-columns: 50px 1fr 25px;
}
