<div (click)="toggleResourceFromCollection()" class="collection" matRipple [ngClass]="{
    'two-columns': !data.inThisCollection,
    'three-columns': data.inThisCollection
  }">
  <div *ngIf="!showPlaceholder" class="image" [ngStyle]="{
      'background-image': 'url(' + image + ')'
    }">
    <div class="placeholder" *ngIf="showPlaceholder">
      <span>{{ placeholderText }}</span>
    </div>
  </div>

  <div *ngIf="showPlaceholder && hasResource" class="no-image" [ngStyle]="{
      'background-color': data.resource1.backgroundColor,
      'color': data.resource1.textColor
    }">
    <div class="placeholder" *ngIf="showPlaceholder">
      <span>{{ placeholderText }}</span>
    </div>
  </div>

  <div *ngIf="showPlaceholder && !hasResource" class="no-image">
    <div class="placeholder" *ngIf="showPlaceholder">
      <span>{{ placeholderText }}</span>
    </div>
  </div>

  <p>
    {{ data.title ? data.title : "Unset" }}
  </p>

  <div class="tick-container">
    <div class="itc" *ngIf="inThisCollection">
      <fa-icon [icon]="faCheckCircle"></fa-icon>
    </div>

    <div class="nitc" *ngIf="!inThisCollection">
      <fa-icon [icon]="faCheckCircle"></fa-icon>
    </div>
  </div>
</div>