<div class="popover-header">
  <span>Collection Options</span>
</div>

<div class="popover-item" matRipple>
  <div class="top">
    <fa-icon [icon]="faPlusCircle"></fa-icon>
    <span>Add new post</span>
  </div>

  <div class="bottom">
    <small>Create new post to add to collection</small>
  </div>
</div>

<div class="popover-item" matRipple (click)="openEditCollectionDialog()">
  <div class="top">
    <fa-icon [icon]="faEdit"></fa-icon>
    <span>Edit Collection</span>
  </div>

  <div class="bottom">
    <small>Customize the look of your collection</small>
  </div>
</div>

<div class="popover-item" matRipple (click)="openDeleteCollectionDialog()">
  <div class="top">
    <fa-icon [icon]="faTrash"></fa-icon>
    <span>Delete Collection</span>
  </div>

  <div class="bottom">
    <small>Delete your collection</small>
  </div>
</div>

<div class="popover-item" matRipple>
  <div class="top">
    <fa-icon [icon]="faShare"></fa-icon>
    <span>Go to collection</span>
  </div>

  <div class="bottom">
    <small>View posts in the collection</small>
  </div>
</div>

<div class="popover-item" matRipple>
  <div class="top">
    <fa-icon [icon]="faShareAlt"></fa-icon>
    <span>Share</span>
  </div>

  <div class="bottom">
    <small>Share collection on social media</small>
  </div>
</div>
