<h1 mat-dialog-title>Change Profile Image</h1>

<div class="image" [ngStyle]="{ 'background-image': 'url(' + (userImage ? userImage : defaultProfileImage)  +')' }">
  <div class="delete-user-image" matRipple *ngIf="imageFromDB || isNewImage" (click)="clearImage()">
    <fa-icon [icon]="faTrash"></fa-icon>
  </div>
</div>

<div class="controls">
  <input hidden (change)="onFileSelected(imageInput)" #imageInput type="file" id="file" accept="image/*">
  <button mat-flat-button (click)="imageInput.click()" *ngIf="!isNewImage">Upload</button>
  <button mat-flat-button color="primary" *ngIf="isNewImage" (click)="saveProfilePhoto()">
    <mat-progress-spinner 
    *ngIf="isSavingPhoto" 
    color="accent" 
    mode="indeterminate" 
    value="50"
    diameter="25">
    </mat-progress-spinner>
    <span *ngIf="!isSavingPhoto">Save</span>
  </button>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
