<div class="popover-header">
  <span>Post Options</span>
</div>

<div class="popover-item" matRipple>
  <div class="top">
    <fa-icon [icon]="faShareAlt"></fa-icon>
    <span>Share</span>
  </div>

  <div class="bottom">
    <small>Share post directly on social media</small>
  </div>
</div>

<div class="popover-item" matRipple>
  <div class="top">
    <fa-icon [icon]="faLink"></fa-icon>
    <span>Copy link</span>
  </div>

  <div class="bottom">
    <small>Copy post link to share</small>
  </div>
</div>

<div class="popover-item" matRipple (click)="view()">
  <div class="top">
    <fa-icon [icon]="faShare"></fa-icon>
    <span>Go to Post</span>
  </div>

  <div class="bottom">
    <small>View entire post</small>
  </div>
</div>

<div
  *ngIf="loggedInUser == username"
  (click)="edit()"
  class="popover-item"
  matRipple
>
  <div class="top">
    <fa-icon [icon]="faEdit"></fa-icon>
    <span>Edit Post</span>
  </div>

  <div class="bottom">
    <small>Edit title, description and image</small>
  </div>
</div>

<div class="popover-item" matRipple>
  <div class="top">
    <fa-icon [icon]="faBackspace"></fa-icon>
    <span>Report</span>
  </div>

  <div class="bottom">
    <small>Report if content is illegal or inappropriate</small>
  </div>
</div>
