.resource {
	cursor: pointer;
	width: 275px;
	max-width: 300px;
	box-shadow: 0 8px 20px 0 rgba(197, 197, 197, 0.6);
	background-color: white;
	border-radius: 5px;
	margin-bottom: 25px;
	transition: box-shadow 0.2s ease-in;
	position: relative;
	
	&:hover {
		box-shadow: 0 22px 32px 0 rgba(197, 197, 197, 0.9);
	}

	.image {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		width: 275px;
		height: 150px;
		max-width: 300px;
		max-height: 300px;
		object-fit: cover;

		&::before {
			display: block;
			content: '';
			padding-top: calc(100% * 2 / 3);
		}
	}

	.details {
		padding: 0 15px 15px 15px;

		h4 {
			margin-bottom: 10px;
		}

		.type {
			margin-left: 0;
		}

		.actions {
			a {
				color: inherit;
			}
		}
	}
}

@media (min-width: 602px) {
	.resource {
		.image {
			display: inherit;
		}
	}
}
