<div class="resource" *ngIf="!isLoading">
  <img *ngIf="image" class="image" [src]="image" (click)="goToView()" />
  <div class="details">
    <h4 [ngStyle]="{ 'padding-top': image ? '' : '15px' }" (click)="goToView()">
      {{ title }}
    </h4>
    <!-- * Type -->
    <div class="type" *ngIf="type === 'article'">
      {{ type }}
    </div>
    <p *ngIf="type === 'ext-content'">{{ description | truncate: [40] }}</p>
    <div
      *ngIf="type === 'article'"
      [innerHtml]="description | truncate: [40]"
    ></div>
  </div>
  <div class="stats">
    <div class="likes" *ngIf="recommended_by_count > 0">
      {{ recommended_by_count }} {{ (recommended_by_count === 1) ? 'like' : 'likes' }}
    </div>
  </div>
</div>

<app-loading type="resource" *ngIf="isLoading"></app-loading>
