<div class="resource">
  <img class="image" [src]="image" [routerLink]="['/view/', id]">
  <div class="details">
    <h4>{{ data.title }}</h4>
    <p>{{ data.description | truncate:[40] }}</p>
    <div class="actions">
      <button *ngIf="currentUser === resourceUser" (click)="goToEdit()" mat-button>
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>

      <a [href]="data.url" target="_blank">
        <button mat-button>
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </button>
      </a>

      <button *ngIf="!isInCollectionPage" mat-button color="warn" (click)="openDrDialog()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>

      <button *ngIf="isInCollectionPage" mat-button color="warn" (click)="deleteResourceFromCollection()">
        <fa-icon [icon]="faFolderMinus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="stats"></div>
</div>