<div class="resource" *ngIf="!isLoading" #origin>
  <div class="header">
    <span>{{ title | truncate: [30] }}</span>
    <button mat-icon-button (click)="show(origin)">
      <fa-icon [icon]="faEllipsesV"></fa-icon>
    </button>
  </div>
  <img *ngIf="image" class="image" [src]="image" (click)="goToView()" />
  <div class="details">
    <!-- * Type -->
    <div class="type" *ngIf="type === 'article'">
      {{ type }}
    </div>
    <p  *ngIf="type === 'ext-content'">{{ description | truncate: [150] }}</p>
    <div
      *ngIf="type === 'article'"
      [innerHtml]="description | truncate: [40]"
    ></div>
  </div>
  <div class="stats">
    <div class="like" [ngClass]="recommended_by_count > 0 ? 'is-liked' : ''">
      <fa-icon [icon]="faThumbsUp"></fa-icon>
      <span class="count">{{ recommended_by_count }}</span>
    </div>
  </div>
</div>

<app-loading type="resource" *ngIf="isLoading"></app-loading>
