$image-width: 38px;
$image-height: 38px;

%fixed-abs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  width: 100%;
  position: relative;

  .form {
    display: none;
    width: 100%;
    background-color: var(--search-background-color);
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 2px 0 2px 15px;
    transition: border 0.2s ease-in-out;

    &:focus-within {
      border: var(--search-form-focus-within);
    }

    .search-icon {
      display: inline-block;
      margin-right: 15px;

      fa-icon {
        color: var(--search-search-icon-color);
        font-size: 16px;
      }
    }

    form {
      display: inline-block;
      margin: 0;

      input {
        background-color: transparent;
        border: none;
        font-size: 15px;
        color: var(--search-form-input-color);

        &:focus {
          outline: 0;
          border: 0;
        }
      }
    }
  }

  .search-compact {
    display: inherit;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    fa-icon {
      font-size: 14px;
    }
  }

  .search-result {
    @extend %fixed-abs;
    background-color: var(--search-result-background-color);
    box-shadow: var(--search-result-box-shadow);
    border-radius: 5px;
    animation: appear 0.2s ease-in;
    animation-fill-mode: forwards;
    max-height: 800px;
    max-width: 300px;
    height: auto;
    width: 300px;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }

    .section {
      h3 {
        padding: 10px 15px;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-align: left;
        border-bottom: var(--search-result-box-section-border);
        margin-bottom: 5px;
      }

      .item {
        display: grid;
        grid-template-columns: 75px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "image name"
          "image username";
        cursor: pointer;
        margin-bottom: 5px;

        p {
          margin: 0;
          text-align: left;
        }

        &:hover {
          background-color: var(--search-result-item-hover);
        }

        .item-a {
          grid-area: image;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, .1);
          min-width: $image-width;
          min-height: $image-height;
          width: $image-width;
          height: $image-height;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          align-self: center;
          justify-self: center;
          display: grid;
          place-items: center;

          p {
            margin: 0;
            text-align: center;
          }
        }

        .item-a.collection-icon-container {
          position: relative;

          .icon {
            color: white;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .item-b {
          grid-area: name;
          font-size: 12px;
          margin-bottom: -10px;
        }

        .item-c {
          margin-top: -5px;
          grid-area: username;
          font-size: 12px;
          color: #a2a2a2;
          text-align: left;
        }
      }

      .go-to-search-page {
        font-family: 'Montserrat', sans-serif;
        color: var(--search-result-see-more);

        span:nth-of-type(1) {
          font-size: 12px;
          margin-right: 10px;
        }

        span:nth-of-type(2) {
          background-color: var(--search-result-see-more-bubble);
          border-radius: 25px;
          color: var(--search-result-see-more-text-color);
          font-size: 10px;
          font-weight: bold;
          padding: 2px 12px;
        }
      }
    }

    .loading {
      display: grid;
      padding: 15px;

      mat-spinner {
        justify-self: center;
        align-self: center;
      }

      fa-icon {
        color: #ff1744;
        justify-self: center;
        align-self: center;
      }

      p {
        margin: 0;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

.search-activated {
  border: 2px solid #481a89 !important;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: -8px;
  }

  50% {
    top: 60px;
  }

  100% {
    opacity: 1;
    top: 50px;
  }
}

@media (min-width: 768px) {
  .search {
    .form {
      display: inherit;
    }
    
    .search-compact {
      display: none;
    }
  }
}