<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar>
    <div class="toolbar">
      <div class="left">
        <button mat-icon-button (click)="snav.toggle(); isMenuActive = !isMenuActive">
          <mat-icon>{{ isMenuActive ? "clear" : "menu" }}</mat-icon>
        </button>
        <h1 class="app-name">
          <a routerLink="/">Everest</a>
        </h1>
      </div>

      <div class="right">
        <div class="app-search">
          <app-search></app-search>
        </div>

        <div class="share-resource">
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>

        <div class="profile-container">
          <app-user-image class="profile-image" [userData]="{
              image: image,
              firstName: firstName,
              lastName: lastName,
              username: username
            }" clickable="true">
          </app-user-image>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <h1 class="app-name"><a routerLink="/">Everest</a></h1>
        <h4>Pages</h4>
        <a *ngFor="let item of links" [routerLink]="item.routerLink" routerLinkActive="active-sidenav">
          <fa-icon [icon]="item.icon"></fa-icon>&nbsp;&nbsp;{{ item.text }}
        </a>
        <a (click)="logout()" style="cursor: pointer;">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;&nbsp;Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>