<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="mat-toolbar-box-shadow" color="white">
    <div class="toolbar">
      <div class="left">
        <button mat-icon-button (click)="snav.toggle(); isMenuActive = !isMenuActive">
          <!-- <mat-icon class="burger-menu">{{ isMenuActive ? "clear" : "menu" }}</mat-icon> -->
          <fa-icon [icon]="isMenuActive ? faTimes : faBars"></fa-icon>
        </button>
        <a class="branding-container" routerLink="/">
          <div class="app-name">
            <img [src]="logo" alt="Site Logo">
          </div>
        </a>
      </div>

      <div class="right">
        <div class="app-search">
          <app-search></app-search>
        </div>

        <div class="share-resource" (click)="goToShareResource()" matRipple>
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>

        <div class="profile-container" #origin (click)="show(origin)">
          <app-user-image class="profile-image" [userData]="{
              image: image,
              firstName: firstName,
              lastName: lastName,
              username: username
            }" [clickable]="false" [size]="mobileQuery.matches ? 'xxs' : 'xs'">
          </app-user-image>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" (backdropClick)="isMenuActive = false">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <h4>Pages</h4>
        <a *ngFor="let item of links" [routerLink]="item.routerLink" routerLinkActive="active-sidenav"
          [routerLinkActiveOptions]="{exact: true}">
          <fa-icon [icon]="item.icon"></fa-icon>&nbsp;&nbsp;{{ item.text }}
        </a>
        <a (click)="logout()" style="cursor: pointer;">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;&nbsp;Logout
        </a>
        <div class="general-divider"></div>
        <div class="dark-theme-toggle">
          <p>Dark Mode</p>
          <mat-slide-toggle (change)="onToggleChange($event)" labelPosition="before" [checked]="checked">
          </mat-slide-toggle>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [@routeFadeAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>