.app-container {
	background-color: #dee8ff;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	width: 100%;
	height: 100%;

	h1 {
		.app-name {
			margin-left: 8px;
		}
	}

	.toolbar {
		display: inline-grid;
		grid-template-columns: 50px auto 20px;
		background-color: white;
		box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
		z-index: 100;
		position: relative;

		.app-name {
			display: none;
			a {
				color: #3C3C3C;
				font-family: "Raleway", sans-serif;
				font-weight: 200;
				text-transform: uppercase;
				letter-spacing: 8px;
				text-decoration: none;

				&:visited {
					color: inherit;
				}
			}
		}

		.app-search {
			width: 100%;
			justify-self: center;
			align-self: center;
		}
	}

	.profile-container {
		width: 100%;
		grid-column-end: end;

		.profile-image {
			float: right;
		}
	}

	.is-mobile {
		.toolbar {
			position: fixed;
			z-index: 2;
		}

		.sidenav-container {
			flex: 1 0 auto;
		}
	}

	.sidenav-container {
		flex: 1;

		.app-name {
			font-family: "Raleway", sans-serif;
			font-weight: 200;
			text-transform: uppercase;
			letter-spacing: 10px;
			text-decoration: none;
			display: none;
		}
	}

	mat-sidenav {
		padding: 15px 25px 0 25px !important;
	}

	mat-sidenav-container {
		margin-top: 0 !important;
	}
}

.thick-border {
	border: 1px solid rgba(0, 0, 0, 1) !important;
}

@media (min-width: 320px) and (max-width: 420px) {
	.app-container {
		.toolbar {
			.app-search {
				width: 10rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.app-container {
		.sidenav-container {	
			.app-name {
				display: none;
			}
		}
		.toolbar {
			grid-template-columns: 50px 1fr 180px 70px;
			.app-name {
				display: inherit;
			}

			.app-search {
				width: 15rem;
				grid-column-start: auto;
			}
		}
	}
}
