<div class="post">
  <!-- Header -->
  <div class="header">
    <div class="user-image" [ngStyle]="{ 'background-image': 'url(' + userImage  +')' }">
    </div>
    <div class="uploader-info">
      <strong>{{ username }}</strong>
      <small>{{ timestamp }}</small>
    </div>
    <div class="post-menu" (click)="openPostDialog()">
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </div>
  </div>

  <!-- Image -->
  <a [href]="url" target="_blank">
    <div class="image">
      <img [src]="image" [alt]="title">
    </div>
  </a>

  <!-- Title -->
  <div class="title">
    <strong>{{ title }}</strong>
  </div>

  <!-- Tags -->
  <div class="tags">
    <div class="tag">
      <a *ngFor="let tag of tags"><strong>#{{ tag }}</strong></a>
    </div>
  </div>

  <!-- Description -->
  <div class="description">
    <p>
      {{ description | truncate:[truncateValue] }}
      <span *ngIf="isSeeMore" (click)="seeMore()" class="see-more">See More</span>
    </p>
  </div>

  <!-- Controls -->
  <div class="controls">
    <button mat-button class="btn btn-like" [ngClass]="{ 'is-liked': isLiked }" (click)="isLiked = !isLiked">
      <fa-icon [icon]="faThumbsUp"></fa-icon>
    </button>
    <button mat-button class="btn btn-comment" [ngClass]="{ 'show-comments': showComments }"
      (click)="showComments = !showComments" [disabled]="!allComments.length > 0">
      <fa-icon [icon]="faComment"></fa-icon>
    </button>
    <!-- <div class="col-4">
        <button mat-button class="btn btn-atc" (click)="openCollectionsDialog()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div> -->
  </div>

  <!-- All Comments -->
  <div class="all-comments" *ngIf="allComments.length > 0 && showComments">
    <div class="comment" *ngFor="let comment of allComments">
      <span class="username"><strong>{{ comment.username }}</strong></span>
      <span class="text">{{ comment.content }}</span>
    </div>
  </div>

  <!-- Add Comment -->
  <div class="add-comment">
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
      <div>
        <textarea matInput placeholder="Leave a comment" autosize formControlName="comment"
          (keydown.enter)="textareaEnterPressed($event)"></textarea>
        <button *ngIf="!commentForm.controls['comment'].value">
          <fa-icon [icon]="faReply"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
