<div class="public-view" *ngIf="isPublicView && !isLoading">
  <div class="section-container">
    <div class="section">
      <div class="profile-picture">
        <app-user-image *ngIf="!isLoading" size="md"
          [userData]="{ firstName: firstName, lastName: lastName, username: username, image: image }"
          [clickable]="false">
        </app-user-image>
        <div class="text">
          <p>{{ username }}</p>
          <p>{{ email }}</p>
        </div>
        <button class="toggle-profile-view" mat-stroked-button (click)="isPublicView = false">
          Edit Profile
        </button>
      </div>
      <button class="toggle-profile-view-sm" mat-stroked-button (click)="isPublicView = false">
        Edit Profile
      </button>

      <mat-divider></mat-divider>

      <!--* Public view of profile -->
      <div class="public-view-content">
        <h1 *ngIf="name">{{ firstName }} {{ lastName }}</h1>
        <a *ngIf="website" [href]="website" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp; Website
        </a>
        <p class="bio" *ngIf="bio">{{ bio }}</p>
        <mat-chip-list *ngIf="interests">
          <mat-chip *ngFor="let interest of interests" (click)="goToSearch(interest)">{{ interest }}</mat-chip>
        </mat-chip-list>
        <div class="followers-following" *ngIf="followers && following" matRipple (click)="openFollowDialog()">
          <div>
            <fa-icon [icon]="faUserFriends"></fa-icon>
          </div>
          <div>
            <span>{{ followers + ' followers' + ' | ' }}</span>
          </div>
          <div>
            <span>{{ following - 1 + ' following' }}</span>
          </div>
        </div>
      </div>

      <!-- * Progress Bar -->
      <mat-progress-bar *ngIf="profileProgress < 100" mode="determinate" [value]="profileProgress">
      </mat-progress-bar>
      <small *ngIf="profileProgress < 100" class="complete-profile-label">Profile Completion:
        {{ profileProgress }}%</small>
    </div>
  </div>
</div>

<div class="public-view" *ngIf="isLoading">
  <div class="section-container">
    <div class="section">
      <app-loading type="profile"></app-loading>
    </div>
  </div>
</div>

<div class="change-profile-data" *ngIf="!isPublicView">
  <div class="section-container">
    <div class="section">
      <div class="profile-picture">
        <app-user-image *ngIf="!isLoading" size="md"
          [userData]="{ firstName: firstName, lastName: lastName, username: username, image: image }"
          [clickable]="false" [hoverable]="true" (click)="openCpiDialog()">
        </app-user-image>
        <div class="text">
          <p>{{ profileForm.controls.username.value }}</p>
          <p>{{ profileForm.controls.email.value }}</p>
        </div>
        <button class="toggle-profile-view" mat-stroked-button (click)="isPublicView = true; getUserData()">
          View Profile
        </button>
      </div>
      <button class="toggle-profile-view-sm" mat-stroked-button (click)="isPublicView = true; getUserData()">
        View Profile
      </button>
      <mat-divider></mat-divider>
      <div class="section-header">
        <h4>Personal Information</h4>
      </div>

      <div class="section-content">
        <form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="saveProfileForm()">
          <div class="custom-input">
            <div class="label-container">
              <label>First Name</label>
            </div>
            <div class="input-container">
              <input type="text" formControlName="firstName" placeholder="First Name" />
            </div>
            <p class="error-message" *ngIf="profileFormControls.firstName.hasError('required') &&
            profileFormControls.firstName.dirty">
              First Name required
            </p>
          </div>

          <div class="custom-input">
            <div class="label-container">
              <label>Last Name</label>
            </div>
            <div class="input-container">
              <input type="text" formControlName="lastName" placeholder="Last Name" />
            </div>
            <p class="error-message" *ngIf="profileFormControls.lastName.hasError('required') &&
            profileFormControls.lastName.dirty">
              Last Name required
            </p>
          </div>

          <div class="custom-input">
            <div class="label-container">
              <label>Website</label>
            </div>
            <div class="input-container">
              <input type="text" formControlName="website" placeholder="http://www.website.com" />
            </div>
          </div>

          <div class="custom-input">
            <div class="label-container">
              <label>Bio</label>
            </div>
            <div class="input-container">
              <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
              type="text" formControlName="bio" placeholder="Say something about yourself"></textarea>
            </div>
          </div>

          <div class="custom-input">
            <div class="label-container">
              <label>Interests</label>
            </div>
            <div class="input-container">
              <mat-chip-list #chipList aria-label="Interest selection">
                <mat-chip *ngFor="let interest of interests" [selectable]="selectable" [removable]="removable"
                  (removed)="removeInterest(interest)">
                  {{ interest }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add an Interest" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addInterest($event)" />
              </mat-chip-list>
            </div>
          </div>

          <div class="custom-input">
            <div class="label-container">
              <label>Email</label>
            </div>
            <div class="input-container">
              <input type="text" formControlName="email" placeholder="email@domain.com" />
            </div>
            <p class="error-message" *ngIf="profileFormControls.email.hasError('required') &&
            profileFormControls.email.dirty">
              Email required
            </p>
          </div>

          <div class="form-button-container">
            <app-custom-button [buttonLabel]="submitButtonText" [isLoading]="isLoading"
              [isDisabled]="isProfileSaveButtonDisabled" size="small">
            </app-custom-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>