.resource-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  grid-auto-flow: dense;
  grid-column-gap: 5px;
  justify-items: center;
}

.see-more {
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 15px;
}


@media (min-width: 768px) {
  .resource-grid {
    justify-items: start;
    grid-template-columns: repeat(auto-fit, 286px);
  }
}