<mat-progress-bar mode="query" *ngIf="isLoading">
</mat-progress-bar>
<div class="profile-container">
  <mat-tab-group mat-align-tabs="center">
    <!-- Collections -->
    <mat-tab label="Collections">
      <div class="section">
        <div class="section-header">
          <h4>Collections</h4>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Followers">
      <div class="section">
        <div class="section-header">
          <h4>Followers</h4>
        </div>
      </div>
    </mat-tab>

    <!-- Profile Management -->
    <mat-tab label="Profile">
      <div class="section">
        <div class="profile-picture">
          <img [src]="image ? image : defaultProfileImage" alt="" (click)="openCpiDialog()">
          <div class="text">
            <p>{{ profileForm.controls.username.value }}</p>
            <p>{{ profileForm.controls.email.value }}</p>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="section-header">
          <h4>Personal Information</h4>
        </div>

        <div class="section-content">
          <h6>Public Information</h6>

          <form [formGroup]="profileForm" (ngSubmit)="saveProfileForm()">

            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput placeholder="http://www.website.com" formControlName="website">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Bio</mat-label>
              <textarea matInput placeholder="Tell us something about yourself" formControlName="bio"></textarea>
            </mat-form-field>

            <h6>Private Information</h6>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <div class="form-button-container clearfix">
              <button mat-raised-button color="primary" [disabled]="isProfileSaveButtonDisabled">Save</button>
            </div>
          </form>
        </div>
      </div>

      <div class="section">
        <div class="section-header">
          <h4>Change Password</h4>
        </div>
        <div class="section-content">
          <form [formGroup]="passwordForm" (ngSubmit)="changePasswordForm()">
            <mat-form-field appearance="outline">
              <mat-label>Current Password</mat-label>
              <input matInput placeholder="" formControlName="currentPass">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="" formControlName="newPass">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirm New Password</mat-label>
              <input matInput placeholder="" formControlName="newPassConfirm">
            </mat-form-field>

            <div class="form-button-container clearfix">
              <button mat-raised-button color="primary">Save</button>
            </div>
          </form>
        </div>
      </div>

      <div class="section">
        <div class="section-header">
          <h4>Privacy</h4>
        </div>

        <div class="section-content">
          <h6>Delete Account</h6>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Write your username">
            <mat-hint>Write your username to confirm account deletion</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>