.feed-container {
    padding: 15px 15px 15px 25px;
    background-image: url(../../assets/mountains-cutout.webp);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
}